name: Test

on: [push]

jobs:
  run_tests:
    runs-on: macos-14
    strategy:
      matrix:
        include:
          - os: "18.1"
          - os: "18.2"
    name: "Run tests: OS (${{ matrix.os }})"
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.2'
    - name: Run tests
      run: xcodebuild test -scheme Spellbook -project Spellbook.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 16,OS=${{ matrix.os }}' | xcpretty && exit ${PIPESTATUS[0]}
