name: Test

on: [push]

jobs:
  run_tests:
    runs-on: macos-14
    strategy:
      matrix:
        include:
          - os: "18.0"
          - os: "18.1"
          - os: "18.2"
          - os: "18.3"
          - os: "18.4"
          - os: "18.5"
    name: "Run tests: OS (${{ matrix.os }})"
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_16.3.0.app && /usr/bin/xcodebuild -version
    - name: Run tests
      run: xcodebuild test -scheme Spellbook -project Spellbook.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 14,OS=${{ matrix.os }}' | xcpretty && exit ${PIPESTATUS[0]}
